{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * YouTube Live Embed plugin for Craft CMS
 *
 * YouTube Live Embed Settings.twig
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2019 nystudio107
 * @link      https://nystudio107.com
 * @package   YoutubeLiveEmbed
 * @since     1.0.0
 */
#}
<style>
    .youtube-chat-resp-container {
        position: relative;
        overflow: hidden;
        padding-top: {{ aspectRatio }}%;
    }

    .youtube-chat-resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
<div class="youtube-chat-resp-container">
    <iframe class="youtube-chat-resp-iframe" src="{{ iframeUrl }}&embed_domain={{ embedDomain }}"
            allow="autoplay; fullscreen; encrypted-media"></iframe>
</div>
